/* line 1, ../_sass/fancy.scss */
.modal.hide {
  display: none;
}

/* line 4, ../_sass/fancy.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #373c44;
}

/* line 13, ../_sass/fancy.scss */
.modal-backdrop.fade {
  opacity: 0;
}

/* line 17, ../_sass/fancy.scss */
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=40);
}

/* line 21, ../_sass/fancy.scss */
a#button {
  font-family: Arial, sans-serif;
  display: inline-block;
  background: #10af90;
  border: none;
  border-bottom: 2px solid #0c806a;
  color: #fff;
  font-size: 17px;
  padding: 15px 20px 13px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 38, ../_sass/fancy.scss */
a#button:hover {
  background: #0cc29f;
}

/* line 42, ../_sass/fancy.scss */
a#button:active,
a#button:focus {
  background: #0fa688;
  border-bottom: 0;
  border-top: 2px solid #0c806a;
  outline: none;
  box-shadow: 0 2px 1px #fff;
  -moz-box-shadow: 0 2px 1px #fff;
  -webkit-box-shadow: 0 2px 1px #fff;
}

/* line 51, ../_sass/fancy.scss */
.modal {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  width: 398px;
  margin: -17% 0 0 -250px;
  background-color: #FFF;
  z-index: 1000;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  padding: 30px 40px;
}

/* line 70, ../_sass/fancy.scss */
.modal a.close {
  position: absolute;
  top: 15px;
  right: 18px;
  padding: 5px 10px;
  color: #9099A3;
  text-decoration: none;
}

/* line 78, ../_sass/fancy.scss */
.modal a.close:hover {
  color: #5d6670;
}

/* line 82, ../_sass/fancy.scss */
.modal h1,
.modal h2 {
  margin: 0;
  padding: 0;
}

/* line 86, ../_sass/fancy.scss */
.modal h1 {
  font-weight: 700;
  color: #373c44;
  margin-left: -2px;
  margin-bottom: 20px;
  font-size: 30px;
}

/* line 93, ../_sass/fancy.scss */
.modal h2 {
  font-size: 14px;
  line-height: 1.5;
  color: #9099A3;
  font-weight: normal;
  width: 100%;
  margin-bottom: 20px;
}

/* line 101, ../_sass/fancy.scss */
.modal #response {
  float: left;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 15px;
  margin: 23px 0 0;
  padding: 0 0 0 25px;
  color: #9099A3;
  background: url("../img/tick.png") left center no-repeat;
  display: none;
}

/* line 112, ../_sass/fancy.scss */
.modal form#subForm button,
.modal form#subForm input {
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
}

/* line 119, ../_sass/fancy.scss */
.modal form#subForm input {
  font-size: 15px;
  background-color: white;
  border: solid 1px #d3d3d3;
  border-top-color: #c9c9c9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 10px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.45), 0 0 2px rgba(74, 139, 217, 0), 0 -1px 0 rgba(0, 0, 0, 0.02), inset 0 1px 0 rgba(0, 0, 0, 0.04), inset 0 2px 0 rgba(0, 0, 0, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.04), inset -1px 0 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.45), 0 0 2px rgba(74, 139, 217, 0), 0 -1px 0 rgba(0, 0, 0, 0.02), inset 0 1px 0 rgba(0, 0, 0, 0.04), inset 0 2px 0 rgba(0, 0, 0, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.04), inset -1px 0 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.45), 0 0 2px rgba(74, 139, 217, 0), 0 -1px 0 rgba(0, 0, 0, 0.02), inset 0 1px 0 rgba(0, 0, 0, 0.04), inset 0 2px 0 rgba(0, 0, 0, 0.02), inset 1px 0 0 rgba(0, 0, 0, 0.04), inset -1px 0 0 rgba(0, 0, 0, 0.04);
  -webkit-transition: border-color .3s ease;
  -moz-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
  -webkit-appearance: none;
  margin-bottom: 15px;
  max-width: 377px;
}

/* line 139, ../_sass/fancy.scss */
.modal form#subForm input::-webkit-input-placeholder {
  color: #c8ccd1;
}

/* line 142, ../_sass/fancy.scss */
.modal form#subForm input:-moz-placeholder {
  color: #c8ccd1;
}

/* line 145, ../_sass/fancy.scss */
.modal form#subForm input::-moz-placeholder {
  color: #c8ccd1;
}

/* line 148, ../_sass/fancy.scss */
.modal form#subForm input:-ms-input-placeholder {
  color: #c8ccd1;
}

/* line 151, ../_sass/fancy.scss */
.modal form#subForm input:focus {
  border-color: #b1b9c6;
  outline: none;
}

/* line 155, ../_sass/fancy.scss */
.modal form#subForm input:focus::-webkit-input-placeholder {
  color: #acb3ba;
}

/* line 158, ../_sass/fancy.scss */
.modal form#subForm input:focus:-moz-placeholder {
  color: #acb3ba;
}

/* line 161, ../_sass/fancy.scss */
.modal form#subForm input:focus::-moz-placeholder {
  color: #acb3ba;
}

/* line 164, ../_sass/fancy.scss */
.modal form#subForm input:focus:-ms-input-placeholder {
  color: #acb3ba;
}

/* line 167, ../_sass/fancy.scss */
.modal form#subForm input.error {
  background: url("../img/cross.png") right center no-repeat;
  background-position: 372px center;
  color: #df452c;
}

/* line 172, ../_sass/fancy.scss */
.modal form#subForm button {
  font-size: 17px;
  color: #444;
  text-decoration: none !important;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  padding: 8px 11px 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.03)), color-stop(100%, rgba(0, 0, 0, 0.03)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
  background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.03));
  border: 1px solid #c7c7c7;
  border-bottom-color: #bdbdbd;
  border-top-color: #d3d3d3;
  -webkit-box-shadow: inset 0 -4px 5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 0 -4px 5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 -4px 5px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 0 rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-style: inherit;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #6aae53;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(71, 148, 56, 0)), color-stop(100%, #428f33));
  background-image: -webkit-linear-gradient(rgba(71, 148, 56, 0), #428f33);
  background-image: -moz-linear-gradient(rgba(71, 148, 56, 0), #428f33);
  background-image: -o-linear-gradient(rgba(71, 148, 56, 0), #428f33);
  background-image: linear-gradient(rgba(71, 148, 56, 0), #428f33);
  border-color: #4e9340;
  border-top-color: #579f4a;
  border-bottom-color: #327527;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0, 0, 0, 0.05);
  color: #fefefe;
  text-shadow: 0 1px 1px #488739, 0 0 5px rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: padding-box;
  width: 100%;
}

/* line 224, ../_sass/fancy.scss */
.modal form#subForm button:hover {
  background-color: #63b945;
}

/* line 228, ../_sass/fancy.scss */
.modal form#subForm button:active,
.modal form#subForm button:focus {
  background-color: #63b945;
  border-bottom: 0;
  outline: none;
}

/* line 233, ../_sass/fancy.scss */
input::selection {
  background-color: #9ecaed;
}

@media only screen and (max-width: 480px) {
  /* line 237, ../_sass/fancy.scss */
  .modal {
    margin: 0;
    top: 0;
    left: 0;
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 8%;
  }

  /* line 247, ../_sass/fancy.scss */
  .modal form#subForm a.close {
    font-size: 18px;
    font-weight: bold;
  }

  /* line 251, ../_sass/fancy.scss */
  .modal form#subForm h1 {
    line-height: 1;
    margin-bottom: 30px;
  }

  /* line 255, ../_sass/fancy.scss */
  .modal form#subForm input {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }

  /* line 260, ../_sass/fancy.scss */
  .modal form#subForm input.error {
    background-position: 95% center;
  }

  /* line 263, ../_sass/fancy.scss */
  .modal form#subForm button {
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 269, ../_sass/fancy.scss */
  .modal form#subForm #response {
    font-size: 16px;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 0 22px 0;
    text-align: center;
    background-position: bottom center;
  }
}
