Package: com.forest.alipaypwddemo
Name: AliPayPwdDemo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: forest
Author: forest
Section: Tweaks
